






@media only screen and (max-width: 1700px){


  .carousel{
    margin-left: 700px !important;
  }

  .Background2{
    height: 766px;
  }

  .main1{
    height: 766px;
  }
}




@media only screen and (max-width: 1400px){


  .carousel{
    margin-left: 500px !important;
  }
}

@media only screen and (max-width: 1000px){


  .carousel{
    margin-left: 300px !important;
  }

  .Background2{
    height: 612px;
  }

  .main1{
    height: 612px;
  }

  .tama{
    width: 500px;
    height: 300px;
    margin-top: 50px;
  }

  .main2{
    height: 613px;
  }

  .footer2{
    margin-top: 154px;
  }

  .mt{
    margin-top: 97px;            
  }

}


@media only screen and (max-width: 800px){


  .carousel{
    margin-left: 200px !important;
  }
}

@media only screen  and (max-width: 900px){

 
 #mi-video{
  width: 200px;
  height: 50vh
 }

 .main2{
  height: 613px;
 }

}

@media only screen  and (max-width: 775px){

.wudiv{
  flex-direction: column !important;
}


.tama{
  margin-top:10px;
}
.td{
   
   text-align: center;

}

.WhyChooseUs{
  margin-top: 10px !important;
}

}

@media only screen and (max-width: 560px){

  #mi-video{
    width: 170px !important;
  }

  .carousel{
    margin-left: 25px !important;
  }
}

@media only screen and (max-width: 500px){


   .tama{
    margin-right: 10px;
    margin-left: 20px;
    width: 400px;
    height: 200px;
    margin-top: 50px;
  }

}

@media only screen and (max-width: 480px){

   .Indira{
    padding: 0px;
   }
    
}


@media only screen and (max-width: 430px){


   .tama{
    width: 300px;
    height: 150px;
   }
}


@media only screen and (max-width: 420px){

  .estiloletra{
    font-size: 40px !important;
  }

}

@media only screen and (max-width: 450px){

.carousel, .carousel-inner > .carousel-item > img{
  height: 400px;
  width: 300px !important;
 }

 .mt{
   margin-top: 167px;
 }

 
}

@media only screen and (max-width: 400px){


.imagen{
  height: 300px !important;
}


.main1{
  height: 582px;
}



.Con2{

  margin-bottom: -100px;
}


.General__container{
  margin-top: 30px !important;
  padding: 0px !important;
}




}


@media only screen and (max-width: 360px){


   .mt{
    margin-top: 120px !important;
   }

}









@media only screen and (max-width: 350px){


  .WhyChooseUs{

    margin-top: 30px !important;
  }


  #grid__border{


     
    height: 250px;
    
   
  }


  .tamanioZE{

    height: 245px;
    width: 188px !important;
  }

  .col{
    display: flex;
    justify-content: center;
  }

  .carousel, .carousel-inner > .carousel-item > img{
  height: 320px;
  width: 250px !important;
 }

 .carouel{
  margin-left: 0px !important;
 }

.imagen{

   display: flex;
   justify-content: center;
  height:300px !important; 
  margin-right: 50px;                
}

.estiloletra{

  font-size: 35px !important;
}

.General__Parrafo{
  margin-right: 10px;
}



.General__container{
  padding-top: 8px !important;
}

.Indira{
  width: 300px !important;
  padding-left: 0px !important;
  padding-left: 40px !important;
}


.mt{
    margin-top: 200px !important;
  }

}





@media only screen and (max-width: 330px){

  .tama{

    width: 200px;
    height: 300px;
    margin-left: 45px !important;

  }
}