
@media only screen  and (max-width: 900px){

 
 #mi-video{
  width: 200px;
  height: 50vh
 }

}



@media only screen and (max-width: 560px){

  #mi-video{
    width: 170px !important;
  }
}



@media only screen and (max-width: 480px){

   .Indira{
    padding: 0px;
   }
    
}


@media only screen and (max-width: 420px){

  .estiloletra{
    font-size: 40px !important;
  }

}

@media only screen and (max-width: 460px){


 
}

@media only screen and (max-width: 400px){


.imagen{
  height: 300px !important;
}



.Con2{

  margin-bottom: -100px;
}


.General__container{
  margin-top: 30px !important;
  padding: 0px !important;
}




}

@media only screen and (max-width: 350px){


  .WhyChooseUs{

    margin-top: 30px !important;
  }

.imagen{

   display: flex;
   justify-content: center;
  height:300px !important; 
  margin-right: 50px;                
}

.estiloletra{

  font-size: 35px !important;
}

.General__Parrafo{
  margin-right: 10px;
}



.General__container{
  padding-top: 8px !important;
}

.Indira{
  width: 300px !important;
  padding-left: 0px !important;
  padding-left: 40px !important;
}

}